<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <applicationSettings>
        <Countdown_Timer.Properties.Settings>
            <setting name="StartSeconds" xdt:Locator="Match(name)">
                <value xdt:Transform="Replace">12</value>
            </setting>
        </Countdown_Timer.Properties.Settings>
    </applicationSettings>
</configuration>
